---
import { Image } from 'astro:assets';
---

<header class="bg-black">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">ASDF</span>
          <Image
            src="/favicon.png"
            alt="descriptive text"
            width="200"
            height="150"
            class="h-8 w-auto"
            />
        </a>
      </div>
      <div class="lg:flex lg:gap-x-12 sm:gap-x-4">
        <a href="/belajar" class="text-sm font-semibold leading-6 text-white">Belajar</a>
        <a href="/template" class="text-sm font-semibold leading-6 text-white">Template</a>
        <a href="/tentang" class="text-sm font-semibold leading-6 text-white">Tentang</a>
      </div>
    </nav>
  </header>